@use "global" as *;
.xxSwiperMain {
  margin-bottom: rem(1);
  @include mq(md) {
  }
}

.xxSwiperThumbs {
  // background: rgba(255, 255, 255, 1);
  @include mq(md) {
  }
}

.xxSwiperThumbs .swiper-slide {
  // opacity: 0.4;
  @include mq(md) {
  }
}

.xxSwiperThumbs .swiper-slide-active {
  opacity: 1;
  @include mq(md) {
  }
}

.swiper-button-prev.swiper-button-prev__modify,
.swiper-button-next.swiper-button-next__modify {
  background: rgba(1, 0, 0, 1);
  width: rem(50);
  height: rem(50);
  border-radius: rem(30);
  @include mq(md) {
  }
}

.swiper-button-prev.swiper-button-prev__modify::after,
.swiper-button-next.swiper-button-next__modify::after {
  font-size: 25px;
  color: rgba(255, 234, 46, 1);
  @include mq(md) {
  }
}

.swiper-slideXxx__modify {
  position: relative;
}

.swiper-slideXxx__modify::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

// .swiper-slide.swiper-slideXxx__modify.swiper-slide-active::before {
.swiper-slideXxx__modify.swiper-slide-active::before {
  background: rgba(255, 255, 255, 0);
}
